<h1>This is the show for restaurants</h1>

<%= @restaurant.name %>
<p>--------------------------</p>
<%= @restaurant.address %>
<p>--------------------------</p>
<%= @restaurant.phone_number %>
<p>--------------------------</p>
<%= @restaurant.category %>
<p>--------------------------</p>
